<% layout("/layouts/boilerplate.ejs") %>

<h2 class="mt-3">Edit Listing:</h2>
<div class="row">
  <div class="col-8 offset-2">
    <form action="/listings/<%= listing._id %>?_method=PATCH" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          value="<%= listing.title %>"
        /><br />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" id="description" class="form-control">
<%= listing.description %></textarea
        ><br />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          type="text"
          name="image"
          class="form-control"
          value="<%= listing.image %>"
        /><br />
        <br />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          name="price"
          class="form-control"
          value="<%= listing.price %>"
        />
        <br />
      </div>
      <div class="row">
        <div class="mb-3 col-4">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="location"
            class="form-control"
            value="<%= listing.location %>"
          />
          <br />
        </div>
        <div class="mb-3 col-5">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="country"
            class="form-control"
            value="<%= listing.country %>"
          />
          <br />
        </div>
        <div style="text-align: center">
          <button class="btn btn-dark edit-btn">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
